/* {
    box-sizing: border-box;
}*/
/*
body{

    width: 400px;
    border: solid #1A1B21;
    border-radius: 41px;
}
.header {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F3BF99;
    background: #1A1B21;
    text-align: center;

}



.name {
    color: white;
    margin-bottom: 0px;
    font-stretch: 1px;
}





.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 400px;
    background: #1A1B21;
    line-height: 1.4rem
}*/
body{
    background: #1A1B21;
}
.main {
    
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background: #23252C;
    color: white;
    font-family: "inter", sans-serif;
    font-weight: lighter;
    width: 350px;
    border-radius: 10px;
    margin: auto;


}
.profile-img{
    width: 350px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.about {
    font-size: 15px;
    text-align: left;
    margin: 20px;
}
.main >h4 {
    margin: 5px ;
    font-weight: lighter;
    color: #F3BF99;
    font-size: 15px;
}
.ownwebsite{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 15px
}

.button1 {
     color: #374151;
     background: white;
     border: none;
     border-radius: 5px;
     padding: 10px 50px;
     margin: 10px;
     font-size: 20px;
     text-align: center;
}
.button2 {
     color: white;
     background: #5093E2;
     border: none;
     border-radius: 5px;
     padding: 10px 40px;
     margin: 10px;
     font-size: 20px;
}
.name{
    margin-bottom: 5px;
}

.Footer{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    background: #161619;
    width: 100%;
    padding: 5px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}